---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <section
    class="flex flex-col items-center justify-center h-screen text-center px-4"
  >
    <div class="mb-6">
      <svg
        width="80"
        height="80"
        viewBox="0 0 261.76 226.69"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="text-green-500"
      >
        <path
          d="M33.85 0L130.88 160.77 227.91 0h33.85l-130.88 226.69L0 0h33.85z"
        ></path>
        <path
          d="M33.85 0L130.88 160.77 227.91 0h-55.09L130.88 96.85 88.94 0H33.85z"
        ></path>
      </svg>
    </div>
    <h1
      class="text-5xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-green-400 to-blue-500"
    >
      The Progressive <br /> JavaScript Framework
    </h1>
    <p class="mt-4 text-lg text-gray-300">
      An approachable, performant and versatile framework for building web user
      interfaces.
    </p>
  </section>
</MainLayout>
