---
// Server only
// Component script: aquí se escribe código
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
  <h1>About</h1>
</MainLayout>
<style>
  h1 {
    color: #cf0bcf;
  }
</style>
