---
// Server only
// Component script: aquí se escribe código
import MainLayout from "../layouts/MainLayout.astro";
const title = "About";
---

<MainLayout>
  <h1>{title}</h1>
</MainLayout>
<style>
  h1 {
    color: #cf0bcf;
  }
</style>
